/* Card section! */ 

.card_section { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.card { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    width: clamp(500px, 30vw, 700px);
    aspect-ratio: 9 / 10; 
    background-color: #2c2a29;
    margin: 30px;
    padding: 1%;
    box-shadow: 3px 3px 16px #2c2a29;
    color: #f7f5f2; 
}

.card_image { 
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 2px; 
    background: #2c2a29;
}

.card_title {
    font-family: "Fira Code", monospace; 
    font-weight: 700;
    font-size: 36px; 
    margin-top: 10px; 
    margin-bottom: 6px;
}

.card_description {
    font-family: "Fira Code", monospace; 
    font-weight: 300;
    font-size: 16px; 
    margin: 0px;
}

.card_link {
  text-decoration: none;
  color: inherit;
  display: inline-block; /* keeps sizing predictable */
}

.card:hover { 
    background-color: #f7f5f2; 
    color: #2c2a29;
}
