
/* Introduction section! */ 

.introduction_section { 
    display: flex; 
    flex-direction: row; 
    flex-grow: 0;
    margin: clamp(3px, 5vw,30px);
    margin-top: 2vw;
    gap: 46px;
    align-items: center;
    justify-content: center;
}

.intro_paragraph { 
    font-weight: 300; 
    font-size: 20px;
    margin-left: clamp(6px, 5vw, 10px); 
    max-width: 86%; 
    text-align: justify;
}

.intro_image { 
    width: clamp(400px, 40vw, 700px); 
    height: auto;
}

/* Phone media queries? */
@media(max-width: 700px) { 
  .title_section {
    flex-direction: column;
    align-items: center;
  }

  .introduction_section { 
    flex-direction: column; 
  }
}
