body { 
    height: 100vh; 
    width: 100%; 
    max-width: 100vw;
    margin: 0; 
    overflow-x: hidden; 
    overflow-y: auto;
    background-color: #f7f5f2;
    display: flex; 
    flex-direction: column;
    font-family: "Fira Code", monospace;
    color: #2c2a29;

    background-image: radial-gradient(#d3d3d3 1px, transparent 1px);
    background-size: 20px 20px;
}

/* navigation bar stuff! */ 
.navigation_bar { 
    display: flex; 
    margin-top: 10px; 
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 0px; 
    gap: 5px;
}

.nav_button { 
    font-family: "Fira Code", monospace; 
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #f7f5f2;
    background-color: #2c2a29;
    padding: 3px 6px;
    text-decoration: none;
}

.nav_button:hover { 
    background-color: #f7f5f2; 
    color: #2c2a29;
}

/* title section!! */

.title_section { 
    display: flex; 
    padding: 10px;
    align-items: center;
    margin: 5px 30px;
    /*max-height: 100px;*/
    flex-grow: 0;
}

h1 { 
    font-weight: 700; 
    font-size: clamp(12px, 12vw, 96px);
    margin-left: 26px;
    text-shadow: 3px 3px 5px darkgray;
    line-height: 1.1;
}

.logo { 
    flex-grow: 0; 
    width: clamp(50px, 20vw,200px); 
    height: auto;
}

/* Footer Section */

footer { 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: auto;
    background-color: #2c2a29;
    gap: 6px;
    padding: 10px;
}

.footer_text { 
    font-size: 11px; 
    font-weight: 500;
    color: white; 
    margin: 0px; 
    padding: 0px;
}


/* Phone media queries? */
@media(max-width: 700px) { 

}
